<button pButton type="button" icon="pi pi-refresh" (click)="getIntegrationData(true)" label="Atualizar" class="ui-button-info"
  style="margin-right: 1.5%; margin-top: 1% ; float: right;"></button>
<p-panel header="Pendências de integração">
  <p-table he [value]="pendenciesList">
    <ng-template pTemplate="header">
      <tr>
        <th width="19%">Data e hora do envio(Sistema Senior)</th>
        <th>Motivo de integração</th>
        <th>Empresa</th>
        <th>Filial</th>
        <th>Colaborador</th>
        <th>CPF</th>
        <th width="5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pendencie>
      <tr>
        <td>{{pendencie.receiptDate}}</td>
        <td>{{getEnumIntegrationType(pendencie.integrationType)}}</td>
        <td>{{pendencie.companyName}}</td>
        <td>{{pendencie.companyBranchName}}</td>
        <td>{{pendencie.employeeName}}</td>
        <td>{{pendencie.cpfNumber}}</td>
        <td>
          <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Visualizar" class="ui-button-success" (click)="viewPendencie(pendencie)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Quantidade de registro(s) {{pendenciesList?.length}}
    </ng-template>
  </p-table>
</p-panel>

<p-sidebar #sidebarRef id="sb-pendecies" [(visible)]="showSideBar" position="right" [style]="{width:'75%'}" class="sidebar"
  [blockScroll]="true" appendTo="body">
  <h1>Detalhes da pendência</h1>
  <form [formGroup]="pendenciesFormGroup">
    <!-- Informações -->
    <p-fieldset id="fs-pending-info-legend" legend="Informações da pendência">
      <div class="ui-g ui-fluid">
        <!-- Situação (relativa ao envio) -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-status" for="ff-status">Situação</label>
          <input id="ff-status" type="text" pInputText name="statusType" formControlName="statusType" autocomplete="off">
        </div>
        <!-- Data e hora do envio -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-event-date-receiptDate" for="ff-event-date-receiptDate">Data e hora do envio</label>
          <input id="ff-event-date-receiptDate" type="text" pInputText name="receiptDate" formControlName="receiptDate"
            autocomplete="off">
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <!-- Motivo da pendência de integração -->
        <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
          <label id="lb-reason-pending-integration" for="ff-reason-pending-integration">Motivo da pendência de
            integração</label>
          <input id="ff-reason-pending-integration" type="text" pInputText name="reason-pending-integration"
            formControlName="integrationType" autocomplete="off">
        </div>
      </div>
      <div class="ui-g ui-fluid">
      </div>
    </p-fieldset>

    <!-- Dados do colaborador-->
    <p-fieldset id="fs-employee-info-legend" legend="Dados do colaborador" [formGroup]="pendenciesFormGroup.get('employee')">
      <div class="ui-g ui-fluid">
        <!-- Nome -->
        <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
          <label id="lb-name" for="ff-name">Nome</label>
          <input id="ff-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>

        <!-- CPF -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-employee-document-number" for="ff-employee-document-number">CPF</label>
          <input id="ff-employee-document-number" type="text" pInputText name="cpfNumber" formControlName="cpfNumber"
            autocomplete="off">
        </div>

        <!-- NIS -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-nis" for="ff-nis">NIS</label>
          <input id="ff-nis" type="text" pInputText name="nisNumber" formControlName="nisNumber" autocomplete="off">
        </div>

        <!-- Matricula eSocial -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-enroll" for="ff-enroll">Matrícula eSocial</label>
          <input id="ff-enroll" type="text" pInputText name="eSocialRegistration" formControlName="eSocialRegistration"
            autocomplete="off">
        </div>

        <!-- Data de nascimento -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-born-date" for="ff-born-date">Data de nascimento</label>
          <input id="ff-born-date" type="text" pInputText name="birthday" formControlName="birthday" autocomplete="off">
        </div>

        <!-- Sexo -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-gender" for="ff-gender">Sexo</label>
          <input id="ff-gender" type="text" pInputText name="genderType" formControlName="genderType" autocomplete="off">
        </div>

        <!-- Estado civil -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-marital-status" for="ff-marital-status">Estado civil</label>
          <input id="ff-marital-status" type="text" pInputText name="maritalStatusType" formControlName="maritalStatusType"
            autocomplete="off">
        </div>

        <!-- Deficiente -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-disabled-people" for="ff-disabled-people">Deficiente</label>
          <input id="ff-disabled-people" type="text" pInputText name="isDeficient" formControlName="isDeficient"
            autocomplete="off">
        </div>

        <!-- Tipo de contratação -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-hire-type" for="ff-hire-type">Tipo de contratação</label>
          <input id="ff-hire-type" type="text" pInputText name="contractType" formControlName="contractType"
            autocomplete="off">
        </div>

        <!-- Data de admissão -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-hire-date" for="ff-hire-date">Data de admissão</label>
          <input id="ff-hire-date" type="text" pInputText name="hireDate" formControlName="hireDate" autocomplete="off">
        </div>

        <!-- Código -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-registration-number" for="ff-registration-number">Código de cadastro</label>
          <input id="ff-registration-number" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>

        <!-- Tipo de colaborador -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-employee-type" for="ff-employee-type">Tipo de colaborador</label>
          <input id="ff-employee-type" type="text" pInputText name="employeeType" formControlName="employeeType"
            autocomplete="off">
        </div>

        <!-- Código da categoria do colaborador no eSocial -->
        <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-8">
          <label id="lb-employee-category-number" for="ff-employee-category-number">Código da categoria do colaborador
            no eSocial</label>
          <input id="ff-employee-category-number" type="text" pInputText name="eSocialCategoryType" formControlName="eSocialCategoryType"
            autocomplete="off">
        </div>

        <!-- Data de demissão -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-dismissal-date" for="ff-dismissal-date">Data de demissão</label>
          <input id="ff-dismissal-date" type="text" pInputText name="dismissalDate" formControlName="dismissalDate"
            autocomplete="off">
        </div>

        <!-- Situação -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-situation" for="ff-situation">Situação</label>
          <input id="ff-situation" type="text" pInputText name="situationType" formControlName="situationType"
            autocomplete="off">
        </div>

        <!-- Data de referência das informações-->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-reference-date-information" for="ff-reference-date-information">Data de referência das
            informações</label>
          <input id="ff-reference-date-information" type="text" pInputText name="referenceDateInformation"
            formControlName="referenceDateInformation" autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Deficiências -->
    <p-fieldset id="fs-disability-info-legend" legend="Deficiências">
      <p-table he [value]="getDeficiency()">
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>A partir de</th>
            <th>Deficiência</th>
            <th>Principal deficiência</th>
            <th>Reabilitado</th>
            <th>Tipo eSocial</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-deficiency>
          <tr>
            <td>{{deficiency.code}}</td>
            <td>{{deficiency.dateWhen}}</td>
            <td>{{deficiency.name}}</td>
            <td>{{deficiency.isMainDeficiency}}</td>
            <td>{{deficiency.isRehabilitated}}</td>
            <td>{{getEnumDeficiencyType(deficiency.deficiencyType)}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Quantidade de registro(s) {{getTotalDeficiency()}}
        </ng-template>
      </p-table>
    </p-fieldset>

    <!-- Informações do empresa-->
    <p-fieldset id="fs-company-info-legend" legend="Empresa" [formGroup]="pendenciesFormGroup.get('employee').get('company')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-company-code" for="ff-company-code">Código</label>
          <input id="ff-company-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>
        <!-- Razão social -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-legal-entity-name" for="ff-legal-entity-name">Razão social</label>
          <input id="ff-legal-entity-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>
        <!-- Código de identificação da empresa no prestador SST -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-provider-company-identification" for="ff-provider-company-identification">Código de
            identificação no prestador SST</label>
          <input id="ff-provider-company-identification" type="text" pInputText name="providerCompanyIdentification"
            formControlName="providerCompanyIdentification" autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações da filial-->
    <p-fieldset id="fs-branch-info-legend" legend="Filial" [formGroup]="pendenciesFormGroup.get('employee').get('companyBranch')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-branch-code" for="ff-branch-code">Código</label>
          <input id="ff-branch-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>
        <!-- Razão social -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-legal-branch-name" for="ff-legal-branch-name">Razão social</label>
          <input id="ff-legal-branch-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>
        <!-- Tipo de inscrição -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-subscription-type" for="ff-subscription-type">Tipo de inscrição</label>
          <input id="ff-subscription-type" type="text" pInputText name="subscriptionType" formControlName="subscriptionType"
            autocomplete="off">
        </div>
        <!-- Número de inscrição -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-subscription-number" for="ff-subscription-number">Número de inscrição</label>
          <input id="ff-subscription-number" type="text" pInputText name="subscriptionNumber" formControlName="subscriptionNumber"
            autocomplete="off">
        </div>
        <!-- Data do histórico da filial (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-date-company-branch-history" for="ff-date-company-branch-history">A partir de</label>
          <input id="ff-date-company-branch-history" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações do centro de custo -->
    <p-fieldset id="fs-cost-center-info-legend" legend="Centro de custo" [formGroup]="pendenciesFormGroup.get('employee').get('costCenter')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-cost-center-code" for="ff-cost-center-code">Código</label>
          <input id="ff-cost-center-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>

        <!-- Número de inscrição -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-cost-center-name" for="ff-cost-center-name">Nome</label>
          <input id="ff-cost-center-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>

        <!-- Data do histórico do centro de custo (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-cost-center-history-date" for="ff-cost-center-history-date">A partir de</label>
          <input id="ff-cost-center-history-date" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações do posto de trabalho -->
    <p-fieldset id="fs-workstation-info-legend" legend="Posto de trabalho" [formGroup]="pendenciesFormGroup.get('employee').get('workstation')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-workstation-code" for="ff-workstation-code">Código</label>
          <input id="ff-workstation-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>
        <!-- Nome do posto -->
        <div class="ui-sm-12 ui-md-8 ui-lg-8 ui-xl-8">
          <label id="lb-workstation-name" for="ff-workstation-name">Nome</label>
          <input id="ff-workstation-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>
        <!-- Código da estrutura de postos -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-workstation-structure-code" for="ff-workstation-structure-code">Código da estrutura de postos</label>
          <input id="ff-workstation-structure-code" type="text" pInputText name="structureCode" formControlName="structureCode"
            autocomplete="off">
        </div>
        <!-- Data do histórico do posto de trabalho (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-8 ui-lg-4 ui-xl-4">
          <label id="lb-workstation-history-date" for="ff-workstation-history-date">A partir de</label>
          <input id="ff-workstation-history-date" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações do setor -->
    <p-fieldset id="fs-sector-info-legend" legend="Setor" [formGroup]="pendenciesFormGroup.get('employee').get('department')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-sector-code" for="ff-sector-code">Código</label>
          <input id="ff-sector-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>

        <!-- Nome do setor -->
        <div class="ui-sm-12 ui-md-4 ui-lg-8 ui-xl-8">
          <label id="lb-sector-name" for="ff-sector-name">Nome do setor</label>
          <input id="ff-sector-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>

        <!-- Código da tabela de organograma do setor -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-sector-organisation-chart-code" for="ff-sector-organisation-chart-code">Código da tabela de
            organograma do setor</label>
          <input id="ff-sector-organisation-chart-code" type="text" pInputText name="structureCode" formControlName="structureCode"
            autocomplete="off">
        </div>

        <!-- Data do histórico do Setor (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-sector-history-date" for="ff-sector-history-date">A partir de</label>
          <input id="ff-sector-history-date" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações do cargo -->
    <p-fieldset id="fs-job-position-info-legend" legend="Cargo" [formGroup]="pendenciesFormGroup.get('employee').get('jobPosition')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-job-position-code" for="ff-job-position-code">Código</label>
          <input id="ff-job-position-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>
        <!-- Nome do cargo -->
        <div class="ui-sm-12 ui-md-12 ui-lg-8 ui-xl-8">
          <label id="lb-job-position-name" for="ff-job-position-name">Nome do cargo</label>
          <input id="ff-job-position-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>
        <!-- Código da estrutura de cargos -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-job-position-structure-code" for="ff-job-position-structure-code">Código da estrutura de cargos</label>
          <input id="ff-job-position-structure-code" type="text" pInputText name="structureCode" formControlName="structureCode"
            autocomplete="off">
        </div>
        <!-- CBO -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-job-position-cbo" for="ff-job-position-cbo">CBO</label>
          <input id="ff-job-position-cbo" type="text" pInputText name="cboCode" formControlName="cboCode" autocomplete="off">
        </div>
        <!-- Data do histórico de Cargo (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
          <label id="lb-job-position-history-date" for="ff-job-position-history-date">A partir de</label>
          <input id="ff-job-position-history-date" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <!-- Informações do turno -->
    <p-fieldset id="fs-shift-info-legend" legend="Turno" [formGroup]="pendenciesFormGroup.get('employee').get('shift')">
      <div class="ui-g ui-fluid">
        <!-- Código -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-shift-code" for="ff-shift-code">Código</label>
          <input id="ff-shift-code" type="text" pInputText name="code" formControlName="code" autocomplete="off">
        </div>
        <!-- Nome do turno -->
        <div class="ui-sm-12 ui-md-6 ui-lg-8 ui-xl-8">
          <label id="lb-shift-name" for="ff-shift-name">Nome</label>
          <input id="ff-shift-name" type="text" pInputText name="name" formControlName="name" autocomplete="off">
        </div>
        <!-- Data do histórico do Turno (Campo "A partir de") -->
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-4">
          <label id="lb-shift-history-date" for="ff-shift-history-date">A partir de</label>
          <input id="ff-shift-history-date" type="text" pInputText name="dateWhen" formControlName="dateWhen"
            autocomplete="off">
        </div>
      </div>
    </p-fieldset>

    <div class="ui-sidebar-footer">
      <button pButton type="button" label="Voltar" (click)="closePendencisSidBar()" class="ui-button-secondary"></button>
    </div>

  </form>


</p-sidebar>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
