body .ui-sidebar {
  overflow-y: scroll !important;
}

body .ui-sidebar .ui-sidebar-footer {
  padding: 15px 0 0;
  bottom: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0 0;
}

body .ui-sidebar h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

body .ui-panel .ui-panel-titlebar {
  font-size: 20px;
}
